magenta==2.1.4

Jinja2==3.0.0
apache-beam==2.22.0
note-seq==0.0.2

numpy==1.21.6
protobuf==3.20.3
gast==0.3.3
urllib3==1.25.11
numba==0.48.0

librosa==0.7.2
llvmlite==0.31.0
tqdm==4.46.1

python-rtmidi==1.1.2
resampy==0.2.2
pretty_midi==0.2.9


bokeh==2.1.0

flax==0.3.0
jax==0.2.8
jaxlib==0.1.60

python-snappy==0.6.1
